:root {
  // --color-primary: #cadde2;
  --color-primary: aliceblue;
  // --color-secondary: #f5f116;
  // --color-secondary: #e4d01c;
  --color-secondary: #f7e122;
  --color-tertiary: #0e021a;
  // --color-red: rgb(214, 60, 86);
  // --color-red: #e40404;
  --color-red: red;
  --color-blue: #10bae4;
  --color-blue-2: #7cdaf1;
  // --color-blue: #7cdaf1;
  --color-green: #89e1b3;
  --color-black: rgb(19, 19, 19);
}

// f0f8fa
// 10bae4

.background-red {
  background-color: var(--color-red);
}

.background-blue {
  background-color: var(--color-blue);
}

.background-green {
  background-color: var(--color-green);
}
