:root {
  --color-primary: #cadde2;
  --color-secondary: #e4d01c;
  --color-tertiary: #0e021a;
  --color-red: rgb(214, 60, 86);
  --color-blue: #10bae4;
  --color-green: #89e1b3;
}

// f0f8fa
// 10bae4

.background-red {
  background-color: var(--color-red);
}

.background-blue {
  background-color: var(--color-blue);
}

.background-green {
  background-color: var(--color-green);
}
