@import './styles';

.App {
  text-align: center;
}

.campaign-card {
  background-color: #fff;
  border-radius: 2px;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-width: 95%;
  .image-section {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  .details-section {
    padding: 20px;
    text-align: left;
    color: black;

    .name {
      font-size: larger;
      font-weight: bold;
    }
  }
}

.campaign-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#header-canvas {
  position: absolute;
  z-index: -1;
}

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 222px auto;
  align-items: center;
  background-color: var(--color-blue);
  .menu {
    display: grid;
    grid-template-columns: 74px 74px 74px;
    align-items: center;
    background-color: var(--color-secondary);
    height: 100%;
    .menu-item-container:hover {
      background-color: var(--color-blue);
      color: var(--color-secondary);
    }
    .menu-item-container {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .logo {
        img {
          display: inline-block;
          // font-size: 15px;
          line-height: 40px;
          height: 40px;
          text-align: center;
          vertical-align: bottom;
        }
      }
      .menu-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-decoration: none;
        color: black;
        i {
          display: inline-block;
          // font-size: 15px;
          line-height: 40px;
          width: 40px;
          height: 40px;
          text-align: center;
          vertical-align: bottom;
        }
      }
    }
  }
  .heading {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 2rem;
    color: var(--color-red);
  }
}

#header-2 {
  position: fixed;
  width: 100%;
  display: grid;
  height: 80px;
  background-color: black;
  align-items: center;
  border-bottom: 2px solid var(--color-secondary);
  .header-items {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    white-space: nowrap;
    .heading {
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      letter-spacing: 2rem;
      color: var(--color-red);
    }
    .menu-items-container {
      display: flex;
      margin-top: 10px;
      margin-left: 20px;
      .header-logo {
        display: inline-block;
        font-size: 15px;
        line-height: 40px;
        height: 40px;
        text-align: center;
        vertical-align: bottom;
      }
      .menu-item {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-decoration: none;
        color: rgb(28, 100, 76);
        i {
          display: inline-block;
          font-size: 15px;
          line-height: 40px;
          width: 40px;
          height: 40px;
          text-align: center;
          vertical-align: bottom;
        }
      }
    }
    .signout-button-container {
      width: 100px;
      margin-left: 25px;
      margin-top: 10px;
    }
  }
}

.build-campaign-button {
  color: white;
  background-color: var(--color-green);
  width: 200px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
}

.authentication-popup {
  position: absolute;
  z-index: 1000;
  background-color: var(--color-blue);
  width: 400px;
  left: calc(50% - 200px);
  top: calc(50% - 50px);
  border-radius: 6px;
  padding: 25px;
  font-size: 1.2rem;
  text-align: center;
}

.login {
  color: black;
  background-color: rgb(255, 255, 100);
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: 2px dashed black;
}

.side-menu {
  position: fixed;
  display: flex;
  height: 450px;
  top: calc(50% - 200px);
  right: -355px;
  transition: right 1s;
  .items-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    .item {
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      margin-left: 10px;
      i {
        display: inline-block;
        font-size: 15px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: bottom;
      }
    }
  }
  .opener-black {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .top-triangle {
      width: 0;
      height: 0;
      border-bottom: 100px solid black;
      border-left: 30px solid transparent;
    }
    .middle-rectangle {
      background-color: black;
      width: 30px;
      height: 100px;
    }
    .bottom-triangle {
      width: 0;
      height: 0;
      border-top: 100px solid black;
      border-left: 30px solid transparent;
    }
  }
  .opener-white {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .top-triangle {
      width: 0;
      height: 0;
      border-bottom: 100px solid var(--color-red);
      border-left: 30px solid transparent;
    }
    .middle-rectangle {
      background-color: var(--color-red);
      width: 30px;
      height: 100px;
    }
    .bottom-triangle {
      width: 0;
      height: 0;
      border-top: 100px solid var(--color-red);
      border-left: 30px solid transparent;
    }
  }
}
.opened {
  right: 0;
}

#text-box {
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
  padding: 4px;
  margin: 0 15px 15px 15px;
}

.feed {
  position: fixed;
  display: flex;
  bottom: 0;
  top: 80px;
  width: 220px;
  padding-top: 10px;
  padding-right: 2px;
  // background-color: rgba(0, 0, 0, 0.5);
  background-color: black;
  color: white;
  #f-items-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .item {
      // color: var(--color-primary);
      padding-bottom: 20px;
    }
  }
  #f-items-container::-webkit-scrollbar {
    width: 1em;
  }
  #f-items-container::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 12px;
  }
}

.campaign-container {
  margin-left: 220px;
  padding: 82px 20px;
}

.campaigns-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.page {
  padding-top: 80px;
  margin: auto;
  width: 85%;
}

.balloon-bundle {
  display: flex;
  flex-wrap: wrap;
}

.balloon-bundle-title {
  color: var(--color-secondary);
  font-size: larger;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 5px;
}

.balloon-bundle-heading {
  height: 50px;
  border-radius: 8px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  .third-column {
    display: flex;
    justify-content: center;
    .fraction-container {
      display: flex;
      align-items: center;
      width: 100px;
      justify-content: space-between;
      .fraction {
        display: flex;
        flex-direction: column;
        .denominator {
          border-top: 2px solid var(--color-primary);
        }
      }
    }
  }
}

.balloon {
  margin: 20px;
}

.builder-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary);
  width: 600px;
  margin: 50px auto;
  padding-top: 20px;
  color: white;
  .builder-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    input {
      border: none;
      border-radius: 2px;
      outline: none;
      padding: 4px 10px;
      width: 500px;
      min-width: 200px;
      height: 40px;
      font-size: large;
    }
    textarea {
      border: none;
      border-radius: 2px;
      outline: none;
      padding: 4px 10px;
      width: 500px;
      min-width: 200px;
      height: 200px;
    }
  }
  .build-campaign-button {
    margin-top: 10px;
    width: 500px;
    min-width: 200px;
    height: 40px;
    line-height: 40px;
    padding: 4px 10px;
    border-radius: 4px;
    color: white;
    background-color: var(--color-green);
    font-weight: bold;
  }
  .bundle-info {
    display: grid;
    grid-template-columns: 60px 400px 60px;
    .count {
      background-color: green;
    }
    .slider {
      color: var(--color-red);
      width: 380px;
      background-color: pink;
      margin: auto;
    }
    input {
      // margin-left: 20px;
      // width: 80px;
      // min-width: 40px;
      border: none;
      border-radius: 2px;
      outline: none;
      padding: 4px;
      font-size: large;
      background-color: orange;
    }
  }
}
