@import './styles';

.App {
  text-align: center;
}

.campaign-card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 300px;
  .image-section {
    img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  .details-section {
    padding: 20px;
    text-align: left;
    color: black;

    .name {
      font-size: larger;
      font-weight: bold;
    }
  }
}

.campaign-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
